{% extends 'base.html.twig' %}
{% block headercontent %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}
{% block body %}
<form action="{{ path('addproductb') }}" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div style="  width: 500px;
   ">
                <p class="before-register-text">

                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="reg_email">Title&nbsp;<span class="required">*</span></label>
                    <input type="text" id="title" class="woocommerce-Input woocommerce-Input--text input-text" name="title"
                           id="reg_email" autocomplete="email" value=""/></p>

                </p>
                <label for="reg_email">Category&nbsp;<span class="required">*</span></label>

                <select id="scripts" name="scripts" onchange="changesubcategory()" class="form-control"
                        id="exampleFormControlSelect1">
                    {% for i in category %}
                        <option value="{{ i.id }}">{{ i.name }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="reg_email">Subcategory&nbsp;<span class="required">*</span></label>

                <div id="jjj">
                        <select id="fff"  class="form-control">

                        <option value="none">none</option>
                        </select>
                </div>
                <div id="kkk">

                </div>
            </div>
        </div><br><br>
        <div class="col-6">
            <div style="  width: 500px;">
            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                <label for="reg_email">Price&nbsp;<span class="required">*</span></label>
                <input type="number" id="price"  class="woocommerce-Input woocommerce-Input--text input-text" name="price"
                       id="reg_email" autocomplete="email" value=""/></p>

            </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="reg_email">Country&nbsp;<span class="required">*</span></label>

                <select id="countries" name="countries"  class="form-control"
                        id="exampleFormControlSelect1">
                    {% for i in countries %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="reg_email">Adress&nbsp;<span class="required">*</span></label>
                    <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" id="adress" name="adress"
                           id="reg_email" autocomplete="email" value=""/></p>

                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="reg_email">Details&nbsp;<span class="required">*</span></label>
                    <input type="text" id="details" class="woocommerce-Input woocommerce-Input--text input-text" name="details"
                           id="reg_email" autocomplete="email" value=""/></p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="reg_email">File&nbsp;<span class="required">*</span></label>
                    <input type="file" name="fileToUpload"  id="fileToUpload"></p>

                </p>

        </div>
        </div>
    </div>
    <div align="center"><input type="submit" class="btn btn-success" value="Submit"></div></form>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <script type="text/javascript">
        function changesubcategory(i) {
            var sel = document.getElementById('scripts');
            var opt = sel.options[sel.selectedIndex];
            console.log(opt.value);
            console.log(opt.text);
            console.log('hello');
            var v='voiture';
            jQuery.ajax({
                url: "{{ (path('getSubCategoryByCategory')) }}",
                type: "POST",
                dataType: "json",
                data: {
                    'id': parseInt(opt.value),
                },
                async: true,
                success: function (data) {
                    var m = '<select name="subcategory" class="form-control form-control-sm" id="subcategory">';
                    var k;
                    jQuery('#jjj').html('');
                    data.forEach(function (element) {
                        k = k + '<option value="' + element.id + '" >' + element.name + '</option>'

                    })
                    jQuery('#jjj').append(m + k + '</select>');
                    if (parseInt(opt.value)==1){
                        var mk="<br><div class='row'> <div class='col-6'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'> Ram&nbsp;<span class='required'>*</span></label><input type='text' id='ram' class='woocommerce-Input woocommerce-Input--text input-text' name='ram' id='ram' autocomplete='email' value=''/></p></p></div><div class='col-6'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'>Camera&nbsp;<span class='required'>*</span></label><input type='text' class='woocommerce-Input woocommerce-Input--text input-text' name='camera' id='camera' autocomplete='email' value=''/></p></p></div></div>";
                        jQuery('#kkk').html('');
                        jQuery('#kkk').append(mk);
                    }
                    if (parseInt(opt.value)==3){
                        var mk="<br><div class='row'> <div class='col-6'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'> horse power&nbsp;<span class='required'>*</span></label><input type='number' class='woocommerce-Input woocommerce-Input--text input-text' name='horsepower' id='horsepower' autocomplete='email' value=''/></p></p></div><div class='col-6'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'>color&nbsp;<span class='required'>*</span></label><input type='text' class='woocommerce-Input woocommerce-Input--text input-text' name='color' id='color' autocomplete='email' value=''/></p></p></div></div>";
                        jQuery('#kkk').html('');
                        jQuery('#kkk').append(mk);
                    }
                    if (parseInt(opt.value)==4){
                        var mk="<br><div class='row'> <div class='col-4'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'>Number of baths&nbsp;<span class='required'>*</span></label><input type='number' class='woocommerce-Input woocommerce-Input--text input-text' name='nbrebaths' id='nbrebaths' autocomplete='email' value=''/></p></p></div><div class='col-4'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'>Number of beds&nbsp;<span class='required'>*</span></label><input type='number' class='woocommerce-Input woocommerce-Input--text input-text' name='nbrebeds' id='nbrebeds' autocomplete='email' value=''/></p></p></div> <div class='col-4'><p class='woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide'><label for='reg_email'> space&nbsp;<span class='required'>*</span></label><input type='number' class='woocommerce-Input woocommerce-Input--text input-text' name='space' id='space' autocomplete='email' value=''/></p></p></div></div>";
                        jQuery('#kkk').html('');
                        jQuery('#kkk').append(mk);
                    }
                }
            });
        }
    </script>
{% endblock %}
{% block footercontent %}
{% endblock %}